<!-- <div>
  <label for="id" class="loginLabel">아이디</label>
  <input type="text" id="id"  [(ngModel)]="us.uiId"><br>
  <label for="pwd" class="loginLabel">비밀번호</label>
  <input type="password" id="pwd" [(ngModel)]="us.uiPwd"><br>
  <button (click)="doLogin()">로그인</button>
</div>
<div *ngIf="!us.uiId">
아이디를 입력하세요!
</div> -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div class="box">
                    <div class="shape1"></div>
                    <div class="shape2"></div>
                    <div class="shape3"></div>
                    <div class="shape4"></div>
                    <div class="shape5"></div>
                    <div class="shape6"></div>
                    <div class="shape7"></div>
                    <div class="float">
                        <form class="form" action="">
                            <div class="form-group">
                                <label for="username" class="text-white">Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control"  [(ngModel)]="us.uiId">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-white">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control" [(ngModel)]="us.uiPwd">
                            </div>
                            <div class="form-group">
                                <input type="button" value="Login" class="btn btn-info btn-md"(click)="doLogin()">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>