<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<table class="table">
  <thead>
    <tr>
      <th scope="col">번호</th>
      <th scope="col">제목</th>
      <th scope="col">지역</th>
      <th scope="col">글쓴이</th>
      <th scope="col">별점★</th>
      <th scope="col">생성일</th>
      <th scope="col">생성시간</th>
      <th scope="col">좋아요★</th>
      <th scope="col">조회수</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="tourList.length==0">
        <td colspan="8">조회된 내용이 없습니다.</td>
    </tr>
    <tr *ngFor="let tour of tourList" >
      <td>{{tour.tbNum}}</td>
      <td (click)="goPage('view/'+tour.tbNum)" style="color:blue;">{{tour.tbTitle}}</td>
      <td>{{tour.tbLoc}}</td>
      <td>{{tour.tbWriter}}</td>
      <td>{{tour.tbScore}}</td>
      <td>{{tour.tbCredat}}</td>
      <td>{{tour.tbCretim}}</td>
      <td>{{tour.tbLike}}</td>
      <td>{{tour.tbCnt}}</td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary" (click)="goPage('/insert')" style="margin-left: 92%;">글쓰기</button>