<div>
  <table class="table table-striped" *ngIf="tour">
      
      <tr>
        <th>번호</th>
        <td>{{tour.tbNum}}</td>
      </tr>
      <tr>
        <th>조회수</th>
        <td>{{tour.tbCnt}}</td>
      </tr>
      <tr>
        <th>제목</th>
        <td colspan="2">{{tour.tbTitle}}</td>
      </tr>
      <tr>
        <th>작성자</th>
        <td colspan="2">{{tour.tbWriter}}</td>
      </tr>

      <tr>
        <th>작성내용</th>
        <td colspan="2"><img src="https://img-wishbeen.akamaized.net/plan/1463029230608__%EC%8A%AC%EB%A1%9C%EB%B2%A0%EB%8B%88%EC%95%8403.jpg" width="300px" height="300px"><br>
          <!-- <textarea rows="10" cols="50" readonly>{{tour.tbContent}}</textarea></td> -->
          {{tour.tbContent}}
        </tr>
        <tr>
            <th>별점★</th>
            <td colspan="2">{{tour.tbScore}}</td>    
        </tr>
        <tr>
        <th>작성일</th>
        <td colspan="2">{{tour.tbCredat}}</td>
        </tr>
        <tr>
          <th>작성시간</th>
          <td colspan="2">{{tour.tbCretim}}</td>
        </tr>
        <tr>
      </tr>
  </table>
</div>
<button (click)="goPage('/update',tour.tbNum)">수정</button>    
<!-- <button style="margin-left: 100px;" (click)="goPage('/delete')">삭제</button> -->
<app-delete></app-delete>