<nav class="navbar navbar-expand-lg navbar-blue bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home<span class="sr-only">(current)</span></a>
          <!-- <a class="nav-link" routerLink="/">Home</a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tour">Notice</a>
        </li>
        <div *ngIf="!isLogin">
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
        </div>
        <div *ngIf="isLogin">
          <li class="nav-item">
            <!-- <a class="nav-link" routerLink="login">Login</a> -->
            <a class="nav-link" routerLink="login" (click)="doLogout()">Logout</a>
          </li>
        </div>
        <li class="nav-item">
            <a class="nav-link" routerLink="sign">signUp</a>
        </li>
      </ul>
    </div>
  </nav>