<div style="margin:0 auto; text-align: center; width: 400px;">
  <table class="table">
    <label for="id" style="padding-right: 85%;">아이디</label><br>
    <input type="text" class="form-control" placeholder="ID" [(ngModel)]="us.uiId"><br>
    <label for="pwd" style="padding-right: 83%;">비밀번호</label><br>
    <input type="password" class="form-control" placeholder="PWD" [(ngModel)]="us.uiPwd"><br>
    <label for="age" style="padding-right: 90%;">나이</label><br>
    <input type="number" maxlength="2" class="form-control" placeholder="AGE" [(ngModel)]="us.uiAge"><br>
  </table>
  <button class="btn btn-primary" style="color:white;" (click)="doSign2()">sign up</button>
</div>