<div>
    <table class="table table-striped" *ngIf="tour">
        <tr>
            <tr>
                <th>번호</th>
                <td><input type="number" value="{{tour.tbNum}}" readonly></td>
            </tr>
            <tr>
                <th>조회수</th>
                <td>{{tour.tbCnt}}</td>
            </tr>
            <tr>
                <th>제목</th>
                <td colspan="2"><input type="text" value="{{tour.tbTitle}}" [(ngModel)]="tour.tbTitle"></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td colspan="2"><input type="text" value="{{tour.tbWriter}}" [(ngModel)]="tour.tbWriter"></td>
            </tr>
            <tr>
                <th>작성내용</th>
                <td colspan="2"><textarea rows="10" cols="50" [(ngModel)]="tour.tbContent">{{tour.tbContent}}</textarea></td>
            </tr>
            <tr>
                <th>별점★</th>
                <td colspan="2"><input type="text" value="{{tour.tbScore}}" [(ngModel)]="tour.tbScore"></td>
            </tr>
            <tr>
                <th>작성일</th>
                <td colspan="2"><input type="text" value="{{tour.tbCredat}}" [(ngModel)]="tour.tbCredat"></td>
            </tr>
            <tr>
                <th>작성시간</th>
                <td colspan="2"><input type="text" value="{{tour.tbCretim}}" [(ngModel)]="tour.tbCretim"></td>
            </tr>
            <tr>
        </tr>
    </table>
  </div>
  <button (click)="updateTour()">수정</button>