<div class="container">
  <h2>게시물 등록</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>제목</th>
        <td><input class="form-control" placeholder="Title" type="text" id="title" [(ngModel)]="tour.tbTitle"></td>
      </tr>
      <tr>
        <th>내용</th>
        <td><textarea class="form-control" placeholder="Content" id="content" [(ngModel)]="tour.tbContent"></textarea></td>
      </tr>
      <tr>
        <th>작성자</th>
        <td><input class="form-control" placeholder="Writer" type="text" id="writer" [(ngModel)]="tour.tbWriter"></td>
      </tr>
      <tr>
        <th>지역</th>
        <td><input class="form-control" placeholder="place" type="text" id="loc" [(ngModel)]="tour.tbLoc"></td>
      </tr>
      <tr>
        <th>점수</th>
        <td><input value="5" class="form-control" placeholder="Score" type="number" id="score" min="0" max="10" minlength="2" [(ngModel)]="tour.tbScore"></td>
      </tr>
    </thead>
  </table>
  <div style="margin: auto;width:10%;"><button style="text-align: center;" class="btn btn-primary" (click)="insertTour()">저장</button></div>
</div>