{{cStr}}
<div *ngIf="cUser.no">
  이름 : {{cUser.name}}<br>
  아이디 : {{cUser.id}}<br>
</div>
<input type="text" [(ngModel)]="us.uiId">
<input type="password" [(ngModel)]="us.uiPwd">
<button (click)="test()">Child버튼</button>
